
@mixin btnEffects($btn-color) {
    position: absolute;
    transform: translate(0%, 75%);
    text-align: center;
    margin-bottom: 15px;
    .btn {
        background: none;
        border: 2px solid $btn-color;
        font-family: 'Acme';
        letter-spacing: 2px;
        padding: 10px 20px;
        min-width: 150px;
        cursor: pointer;
        transition: color 0.4s linear;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $btn-color;
            z-index: -1;
            transition: transform 0.5s;
            transform-origin: 0.0;
            transition-timing-function: cubic-bezier(.11, .69, .30, .23);
            transform: scaleX(0);
        }
        &:hover {
            color: white;
            &::before {
                transform: scaleX(1);
            }
        }
    }
}

#container {
    z-index: -1;
    margin: auto;
    position: relative;
    margin-left: 8%;
    margin-right: 8%;
    width: auto !important;
    #contact-title {
        font-weight: 600;
        font-family: 'PT Serif', serif;
        font-size: 2rem;
        letter-spacing: 1.5px;
        z-index: 99;
        margin-top: 75px;
        .greetings {
            color: $karingula-color;
            font-family: 'Dancing Script';
            letter-spacing: 5px;
            font-size: 2.3rem;
        }
    }
    .wrapper {
        line-height: 1.7rem;
        vertical-align: text-top;
        color: #888;
        margin: auto;
        position: relative;
        margin-top: 50px;
        .col-l {
            float:left;
            width: 50%;
            padding-right: 30px;
            .contact-label {
                display: block;
                .notes {
                    font-size: 0.75rem;
                }
                a {
                    color: black;
                    &:hover {
                        color: $karingula-color;
                    }
                }
            }
        }
        .col-r {
            float: right;
            width: 50%;
            padding-left: 30px;
        }
        .valid-btn {
            @include btnEffects($karingula-color);
        }
        .invalid-btn {
            @include btnEffects(grey);
        }
    }
}