
$karingula-color:crimson;

@import "node_modules/bootstrap/scss/bootstrap";
@import './components/portfolio';
@import url('https://fonts.googleapis.com/css?family=Acme|Lobster&display=swap');

@mixin beforeAfterNavItem {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color:$karingula-color;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)), url('../img/workstation.jpg') center no-repeat;
    background-size: cover;
    opacity: 0.2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    .container {
        max-width: 120rem;
        width: 90%;
        margin: 0 auto;
    }
}

.navbar-section{
    .brand {
        font-family: 'Lobster';
        font-size: 60px;
        color: $karingula-color !important;
        font-weight: 500;
        padding-left: 35px;
        display: flex;
    }
    .nav-section {
        .nav-links {
            display: flex;
            list-style: none;
            text-decoration: none !important;
            width: 95%;
            .nav-item {
                letter-spacing: 2px;
                text-transform: uppercase;
                font-family: 'Acme';
                margin-left: -24px !important;
                margin-right: -19px !important;
                a{
                    color: black;
                    margin: 0 3rem;
                    position: relative;
                    padding: 12px 0px 12px 0px;
                    &::before {
                        @include beforeAfterNavItem();
                        top: 0;
                        transform-origin: left;
                    }
                    &::after {
                        @include beforeAfterNavItem();
                        bottom: 0;
                        transform-origin: right;
                    }
                    &:hover {
                        text-decoration: none;
                        &::before, &::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}
