
$karingula-color: rgb(241, 23, 8);

@import "node_modules/bootstrap/scss/bootstrap";
@import './components/portfolio';
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap&effect=shadow-multiple');

.nav-link {
    color: $black !important;
    &:hover {
        color: $karingula-color !important;
        font-weight: bold;
    }
}

li {
    display: list-item;
}
.nav-item {
    font-weight: 400;
    font-size: 1rem;
    ::after {
        box-sizing: border-box;
    }
    ::before {
        box-sizing: border-box;
    }
}

#mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: transparent;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
.navbar-collapse {
    align-items: center;
    flex-grow: 1;
}

.navbar-brand {
    font-family: 'Varela', cursive;
    font-size: 30px;
    color: $karingula-color !important;
    font-weight: 600
}
